<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Css Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      media=" screen and (max-width:768px)"
      href="../static/css/mobile.css"
    />
    <!-- unicons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- favicon -->
    <link rel="icon" href="../static/images/icons/Vector.png" />

    <!-- script tag -->
    <script defer src="../static/js/script.js"></script>

    <!-- ScrollReveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

     <!-- swiper css -->
     <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <!-- swiper js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- Title -->
    <title>2rism</title>
  </head>
  <body>
    <!-- Showcase -->
    <main class="main" id="home">
      <!-- Header -->
      <header class="header">
         <!-- logo -->
         <div class="logo">
          <a href="Index.html">
          <img src="../static/images/Logo/logo.svg" alt="2rism" />
        </a>
        </div>


        <!-- navbar -->
        <nav class="navbar">
          <ul class="navlists">
            <li class="navlist"><a href="Index.html">Home</a></li>
            <li class="navlist"><a href="explorer.html">Discover</a></li>
            <li class="navlist"><a href="#destinations">Destinations</a></li>
            <li class="navlist"><a href="#activities">About Us</a></li>
            <li class="navlist"><a href="#contact">Contact</a></li>
            <li class="navlist"><a href="#tours">Help</a></li>
          </ul>
        </nav>

           <!-- user || navigator -->
           <div class="user-profile">
            <div class="profile-name">
              <h2>
                <span class="hello"> Hello, </span>
                <span class="indiviual-name"> Savin Dinusara </span>
              </h2>
            </div>
  
            <div class="profile-pic">
              <img
                src="../static/images/ProfilePic/Sandeep.png"
                alt=""
              />
            </div>
          </div>
      </header>

      <!-- showcase-content -->
      <div class="showcase-content">
        <h1>Discover the most Engaging Places</h1>
        <a href="explorer.html" class="showcase-button">
          <img src="../static/images/icons/globe.png" alt="" /> Explore Your Destination</a
        >
      </div>

      <!-- showcase-search -->
      <div class="showcase-search">
        <div class="filters">
          <div class="filter">
            <div class="search-icon">
              <img src="../static/images/icons/location.png" alt="" />
            </div>
            <div class="search-text">
              <h4>Location</h4>
              <h2>Explore nearby </h2>
            </div>
          </div>
          <div class="filter">
            <div class="search-icon">
              <img src="../static/images/icons/activities.png" alt="" />
            </div>
            <div class="search-text">
              <h4>Activity</h4>
              <h2>All Activities</h2>
            </div>
          </div>
          <div class="filter">
            <div class="search-icon">
              <img src="../static/images/icons/calendar.png" alt="" />
            </div>
            <div class="search-text">
              <h4>When</h4>
              <h2>Chose a date</h2>
            </div>
          </div>
          <div class="filter">
            <div class="search-icon">
              <img src="../static/images/icons/guest.png" alt="" />
            </div>
            <div class="search-text">
              <h4>Guests</h4>
              <h2>1 guest</h2>
            </div>
          </div>
        </div>
        <div class="search-button-icon">
          <img src="../static/images/icons/search.svg" alt="" />
        </div>
      </div>
    </main>
    <!-- popular Destinations -->
    <section class="destinations" id="destinations">
      <div class="container">
        <!-- title -->
        <h2 class="section-title">Popular Destinations</h2>
        <!-- cards -->

        <div class="swiper swiper1">
          <div class="destinations-cards swiper-wrapper">
            <!-- card 1 -->
            <div class="destination-card swiper-slide">
              <img
                src="dalada maligawa/Sri-Dalada-Maligawa_800x520.jpg"
                alt=""
                width="203"
                height="181"
              />
              <h5>Temple of the Tooth</h5>
              <h6>Kandy, Sri Lanka</h6>
            </div>
            <!-- card 2 -->
            <div class="destination-card swiper-slide">
              <img
                src="red mosque/f9a695929aa2956787057f95034f9bee.jpg"
                alt=""
                width="203"
                height="181"
              />
              <h5>Jami-Ul-Alfar Mosque</h5>
              <h6>2nd Cross Street, Colombo</h6>
            </div>
            <!-- card 3 -->
            <div class="destination-card swiper-slide">
              <img
                src="Abhayagiriya/abhayagiriya-anuradhapura.jpg"
                alt=""
                width="203"
                height="181"
              />
              <h5>Abhayagiri Vihara</h5>
              <h6>Anuradhapura, Sri Lanka</h6>
            </div>
            <!-- card 4 -->
            <div class="destination-card swiper-slide">
              <img
                src="Polonnaruwa watadageya/1000_F_228972453_OnAkAPSw9RmGPh1ryLoB6znIoPgST5wh.jpg"
                alt=""
                width="203"
                height="181"
              />
              <h5>Vatadage</h5>
              <h6>Polonnaruwa, Sri Lanka</h6>
            </div>
            <!-- card 5 -->
            <div class="destination-card swiper-slide">
              <img
                src="Jaffna fort/1611192741.jpg"
                alt=""
                width="203"
                height="181"
              />
              <h5>Jaffna Fort</h5>
              <h6>Jaffna, Sri Lanka</h6>
            </div>
            <!-- card 6 -->
            <div class="destination-card swiper-slide">
              <img
                src="st.clairs/P1100836.JPG"
                alt=""
                width="203"
                height="181"
              />
              <h5>St. Clair's Falls</h5>
              <h6>Nuwara Eliya, Sri Lanka</h6>
            </div>
       
          </div>
        </div>
      </div>
    </section>

    <!-- Hotels And Restaurants -->
    <section class="hotel-restaurants" id="restaurants">
      <div class="container">
        <div class="title-container">
          <h2 class="section-title"> Hotels And Restaurants</h2>
          <div class="section-button hotel-button">view all <img src="/static/images/icons/bleft.png" alt=""></div>
        </div>
        <!-- cards -->
        <div class="hotel-card">
          
          <!-- card 1 -->
          <div class="hotel-cards">
            <img src="wild coast tented lodge yala/yala-wild-coast-tented-lodge-children.jpg" alt="" width="320" height="380">
            <h5>Wild Coast Tented Lodge</h5>
            <h6><img src="/static/images/icons/map-pin-line.png" alt=""> Yala, Sri Lanka</h6>
            <div class="ratings"> <img src="/static/images/icons/rating=5.png" alt=""></div>
          </div>
          <!-- card 2 -->
          <div class="hotel-cards">
            <img src="Anantara peace heaven hotel/3e70a4839355744436fb56465cb11f19.jpg" alt="" width="320" height="380">
            <h5>Anantara Peace Heaven</h5>
            <h6><img src="/static/images/icons/map-pin-line.png" alt=""> Tangalle, Sri Lanka</h6>
            <div class="ratings"> <img src="/static/images/icons/rating=4.png" alt=""></div>
          </div>
          <!-- card 3 -->
          <div class="hotel-cards">
            <img src="Ravana pool club/R-P-1.jpg" alt="" width="320" height="380">
            <h5>Ravana Pool Club</h5>
            <h6><img src="/static/images/icons/map-pin-line.png" alt=""> Ella, Sri Lanka</h6>
            <div class="ratings"> <img src="/static/images/icons/rating=2.png" alt=""></div>
          </div>
          <!-- card 4 -->
          <div class="hotel-cards">
            <img src="Taj samudra hotel/cq5dam.web.1280.1280.jpeg" alt="" width="320" height="380">
            <h5>Taj Samudra </h5>
            <h6><img src="/static/images/icons/map-pin-line.png" alt=""> Colombo, Sri Lanka</h6>
            <div class="ratings"> <img src="/static/images/icons/rating=5.png" alt=""></div>
          </div>
         
        </div>
      </div>
    </section>

   

    <!-- activities -->
    <section id="activities">
      <div class="container">
        <div class="title-container">
          <h2 class="section-title"> Activities</h2>
          <div class="section-button hotel-button">view all <img src="/static/images/icons/bleft.png" alt=""></div>
        </div>

        <!-- Activities Cards -->
        <div class="activities-cards">
          <div class="activities-card">
            <img src="safari.jpeg" alt="" width="320" height="380">
            <h4>Wild life Safari</h4>
          </div>
          <div class="activities-card">
            <img src="surfing srilanka.jpeg" alt="" width="320" height="380">
            <h4>Surfing</h4>
          </div>
          <div class="activities-card">
            <img src="dambulla hot air balloon.avif" alt="" width="320" height="380">
            <h4>Ballooning</h4>
          </div>
          <div class="activities-card">
            <img src="Hiking.webp" alt="" width="320" height="380">
            <h4>Hiking</h4>
          </div>
        </div>
      </div>
    </section>

    <!-- about -->
    <section id="About">
      <div class="about-content">
        <h2>About US</h2>
        <p>
          At Tourist Spot Recognition System, our purpose is centered on enhancing travel experiences specifically within Sri Lanka. Recognizing the challenges travelers often face when encountering iconic landmarks without readily available information, our dedicated team has embarked on a mission to develop an innovative solution powered by artificial intelligence and machine learning. Our goal is clear: to empower travelers exploring Sri Lanka with seamless access to real-time recognition and in-depth knowledge about the attractions they encounter. By infusing journeys with interactive insights into the rich history, vibrant culture, and captivating local stories of Sri Lanka, we aim to make every exploration both educational and unforgettable. Join us on our journey to make traveling in Sri Lanka more accessible, enjoyable, and enriching for all.
        </p>

         <div class="section-button hotel-button">Read More <img src="/static/images/icons/bleft.png" alt=""></div>
      </div>

      <div class="about-img">
        <img src="map.jpg" alt="" width="700" height="900">
      </div>
    </section>

    <!-- footer -->
    <footer>
      <div class="container">
        <div class="footer-sections">
          <div class="footer-section">
            <img src="/static/images/Logo/logoblack.svg" alt="">
            <p>At Tourist Spot Recognition System, we're committed to ensuring our customers' satisfaction by offering a plethora of choices, enriching their travel experiences specifically within Sri Lanka.</p>
            <div class="footer-social-icons">
              <img src="../static/images/icons/facebook.png" alt="">
              <img src="../static/images/icons/twitter.png" alt="">
              <img src="../static/images/icons/instagram.png" alt="">
            </div>
          </div>

          <div class="footer-section">
            <h3>About</h3>
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Menu</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Company</h3>
            <ul>
              <li><a href="">why 2rism</a></li>
              <li><a href="">Partner with us</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Support</h3>
            <ul>
              <li><a href="">Account</a></li>
              <li><a href="">Support Center</a></li>
              <li><a href="">Feedback</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Subscribe on our destination review <br> newsletters</h3>
            <form>
              <div class="form-section">
                <img src="../static/images/icons/messagefooter.png" alt="">
                <label for="email">  Your Email
                  <input type="email" id="email" name="email" placeholder="exp - abc@gmail.com ">
                </label>
              </div>
              <button type="submit"><img src="../static/images/icons/arrowleft.png" alt=""></button>
            </form>
          </div>
        </div>
      </div>
    </footer>

     
    <div class="toggleOn"><i class="uil uil-align-center-alt"></i></div>
    <div class="toggleClose"><i class="uil uil-multiply"></i></div>
  </body>
</html>
